# mac crap
.DS_Store
# windows crap
Thums.db
ehthumbs.db

*.userprefs
.project
.pydevproject

# python bin
*.pyc
*.log

# vpn config files
*.ovpn
*.spec

# binaries
utils/*.exe

# sensitive files
resources/provider.json

# build byproducts
build
dist

# visual studio crap
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.suo
*.user
*.ncb
*.sln.cache